@model Test2Model
<div class="alert alert-dark">
	Dieser Textabschnitt wurde ebenfalls über den ActionTagHelper eingefügt. Der Unterschied ist, dass hier jetzt eine ID übergeben wurde.
	<br />
	<br />
	Die ID war @Model.Id
</div>

